@charset "UTF-8";


#total_div{
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}

#mid_div{
	 display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;

 }

 
#side_bar_div {
    display: flex;
 }

#side_bar_size{
border-radius: 0px;
    width: 240px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(229, 229, 229);

  
    left: 0px;
    position: fixed;
}
#tutor_div{
	display: flex;
    width: 100%;
    padding-left: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
    padding-left: 240px;
}
#side_bar_pos{
	display: flex;
    height: calc(100vh - 78px);
    min-width: 240px;
    width: 240px;
    overflow-y: auto;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
}
#side_line{
	flex: 0 0 auto;
    background-color: rgb(229, 229, 229);
    width: 1px;
    height: 100%;
}
#side_menu{
	display: flex;
    width: 100%;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
#side_cate{
	display: flex;
    padding: 12px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
    margin-top: 20px;
}
#side_top_div{
	display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.cate_div{
	background-color: rgb(255, 255, 255);
    padding: 23px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
}
.cate_div:hover{
background-color: #f8f9fa;
}
.cate_subject{
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-left: 20px;
}
.cate_space{
	display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
}
.cate_name_css{
	border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
}
.cate_icon{
	display: block;
    width: 20px;
    height: 20px;
    margin-top:3px;
}
.icon_pos{
	display: block;
    width: 100%;
    height: 100%;
    fill: rgb(26, 26, 26);
}
.cate_icon_space{
	width: 20px;
    height: 0px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;

	}
#tutor_main_article{
	    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
#tutor_div_space{
	    width: 0px;
    height: 72px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

#tutor_main_margin{
	display: flex;
    margin-top: 40px;
    width: 100%;
    max-width: 1232px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}
#tutor_top_topic{
	display: flex;
    padding-bottom: 16px;
    padding-top: 24px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.topic{
	    border-width: 0px;
    color: rgb(26, 26, 26);
    margin: 0px;
    padding: 0px;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 2.25rem;
}
#make_class_btn{
	cursor: pointer;
    --system-on-color: #FFFFFF;
    background-color: rgb(255, 91, 20);
    color: var(--system-on-color);
    border-width: 0px;
    border-radius: 2px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: inline-flex;
    padding: 10px 14px 10px 12px;
    position: relative;
}
#inher_span{
	display: flex;
    visibility: inherit;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;    
}
#btn_icon_span{
	width: 18px;
    height: 18px;
}
#btn_subject{
	border-width: 0;
    color: var(--system-on-color);
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: 1.125rem;
}
.tutor_table{
width:1000px; 
height:auto; 
padding-top:20px;
}
#table_div{
	overflow-x:scroll; 
	max-width:100%;
}

